
@{
    ViewData["Title"] = "Index";
}

<div class="container" >
    <span class="strip">
        <img src="https://picsum.photos/200/300" alt="" />
        <img src="https://picsum.photos/300/300" alt="" />
        <img src="https://picsum.photos/250/300" alt="" />
    </span>
    <div>

    </div>
</div>
