@model  IEnumerable<Gallery>

@{
    ViewData["Title"] = "Index";
}

<div class="center line image">
    @foreach (var gallery in Model)
    {
        <div class="box">
            @foreach (var photo in gallery.Photos)
            {
                <img src="@photo.Path" alt="@gallery.Name Photo" />
            }
        </div>
        <div class="font">
            @gallery.Name
        </div>
        <div class="box">
            <button type="button" class="button">Open Gallery</button>
        </div>
    }
</div>