@{
    ViewData["Title"] = "Home Page";
}

<div id="container">
    
    <!-- Each image is 350px by 233px -->
    <div class="photobanner">
        <img class="first" src="https://picsum.photos/350/233" alt="" />
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/234" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/235" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/236" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/237" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/238" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/233" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/234" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/235" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/236" alt="" />
        </a>
        @*<img class="first" src="https://picsum.photos/350/233" alt="" />
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/233" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/233" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/233" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/233" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/233" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/233" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/233" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/233" alt="" />
        </a>
        <a href="~/Gallery">
            <img src="https://picsum.photos/350/233" alt="" />
        </a>*@
    </div>

    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam luctus lorem turpis, ultricies ultrices sapien ultricies id. Quisque finibus lorem sit amet libero scelerisque, eget egestas neque pellentesque. Duis porta mauris nulla, quis congue risus sodales nec. Phasellus sagittis risus ligula, sed imperdiet sem sodales ac. Nullam at felis aliquam, sodales libero quis, bibendum risus. Donec hendrerit euismod porta. Vestibulum pretium finibus massa a mattis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis imperdiet augue turpis, eget ultricies ligula placerat eu. Donec ac purus nec ante ornare efficitur. Suspendisse nec nisl ac mauris eleifend pretium consequat ut ipsum. Ut blandit quis est eget varius.</p>

</div>

