body {
    background: url("../images/texture-wallpaper-23.jpg");
    color: #c4c9d1;
}

img {
    max-width:100%;
    max-height: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}

.box {
    padding-bottom: 50px;
}

.line {
    height: 105px;
    white-space: nowrap;
    width: 100%;
    display: table;
}

.center {
    text-align: center;
    margin: 10px auto 20px;
}

.font {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    color: #c4c9d1;
}

.head {
    padding-top: 100px;
    font-family: 'Satisfy', cursive;
    font-size: 75px;
    color: #c4c9d1;
}

.button {
    border-radius: 4px;
    background-color: #e3e7ed;
    color: black;
    border: 2px solid #bcc0c6;
    padding: 10px 20px;
}

#container {
    width: 1000px;
    overflow: hidden;
    margin: 40px auto;
    /*background: white;*/
}

/*header*/

header {
    width: 800px;
    margin: 40px auto;
    color: #c4c9d1;
}

    header h1 {
        text-align: center;
        font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
    }

    header p {
        font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
        text-align: justify;
    }

/*photobanner*/

.photobanner {
    height: 233px;
    width: 3550px;
    margin-bottom: 80px;
}

/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
}

@keyframes

"bannermove" {
    0%

{
    margin-left: 0px;
}

100% {
    margin-left: -2125px;
}

}

@-moz-keyframes bannermove {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: -2125px;
    }
}

@-webkit-keyframes

"bannermove" {
    0%

{
    margin-left: 0px;
}

100% {
    margin-left: -2125px;
}

}

@-ms-keyframes {
    "bannermove" {
        0%
    }

{
    margin-left: 0px;
}

100% {
    margin-left: -2125px;
}

}
}



@-o-keyframes

"bannermove" {
    0%

{
    margin-left: 0px;
}

100% {
    margin-left: -2125px;
}

}


    .photobanner img {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        .photobanner img:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            cursor: pointer;
            -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
            box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
